<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            border: 2px solid #333;
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
        }

        nav {
            background-color: lightblue;
            padding: 15px;
        }
    </style>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <!-- Header -->
    <header>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About Us</a>
            <a href="{% url 'contact' %}">Contact Us</a>
        </nav>
    </header>
    <!-- Content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Your Company Name. Developed by Rishabh.</p>
    </footer>
</body>

</html>